# Local environment files
.env
.env.*
!.env.example

# Node modules
node_modules/
**/node_modules/

# Build and cache
**/.turbo/
**/dist/
**/.next/
*.log

# Generated Prisma client
/packages/db/src/generated/
packages/db/src/generated/

# Turbo cache files
/packages/db/.turbo/
packages/db/.turbo/
